.elements{
  width: 100%;
  display: block
  }
  
.elements ul {
  display: flex;
  padding-left: 0;
  }

.elements li {
  flex: 1 1 0;
  list-style: none;
  align-items: center;
  margin-right: 30px;
  padding: 30px;
  width: 170px;
  height: 80px;
  background-color: #fff;
  border-radius: 3px;
  }

.elements li :last-child{
  margin-right: 0;
  }