.section_information {

    width: 100%;
    margin: 0 auto;
    background-color: #f3f3f3;
  }
  
.section_intro {

    display: flex;
    align-items: center;
    width: 1170px;
    height: 70px;
    background-color: #ececec;
    border-radius: 3px;
    color: #7f8c8c;
    justify-content: space-between;
    padding: 25px 25px;
  }
  
.section title {

    margin: 0 auto;
  }

.section_title h1 {
    
    font-size: 30px;
  }
  
.section_title h2 {

    font-size: 13px;
  }
  
  
.section_button {

    background:#e8645a;
    margin-right: 15px;
    border-radius: 8px;
    padding: 10px 20px;
    display:block;
  }

.section_button :hover{

    background-color: #76c7c0;
  }
  
.section_button a {
    
  text-decoration: none;
  font-size: 20px;
  color: #fff;
  }