.section_service {

    display:flex;
    justify-content: space-between;
    padding-bottom: 50px;
  }
  
.service {

    width: 23%;
    margin: 50px auto;
    text-align: center;
    border: 1px  ;
    background-color: #f8f8f8;
    border-radius: 4px;
    position: relative;
  }
  
.service svg {

   width: 55px;
   height: 55px;
   fill: #76c7c0;
   margin-top: 53px;
  }
  
.service:hover {

    background-color: #fff;
  }
  
.service:hover svg {

    fill: #e2534b;
  }
  
.service h3 {

    font-size: 16px;
    padding: 10px 0 35px;
  }
  
.service p {

    font-size: 13px;
    padding-bottom: 65px;
  }
  
.service_btn {

    display: block;
    width: 200px;
    height: 50px;
    padding-top: 14px;
    font-size: 14px;
    text-decoration: none;
    color: #f8f8f8;
    background-color: #76c7c0;
    position: absolute;
    z-index: 1;
    bottom: -25px;
    border-radius: 3px;
    margin: 0 40px;
  }
  
.service:hover .service_btn {
    
    background-color: #e2534b;
  }