.section_service {
  display:flex;
  justify-content: space-between;
  padding-bottom: 50px;
}
  
.service {
  width: 23%;
  margin: 50px auto;
  text-align: center;
  border: 1px  ;
  background-color: #f8f8f8;
  border-radius: 4px;
  position: relative;

&:hover {
  background-color: #fff;

  svg {
    fill: #e2534b;
  }

  .service_btn {
    background-color: #e2534b;
  }
 }
svg {
  width: 55px;
  height: 55px;
  fill: #76c7c0;
  margin-top: 53px;
 }
}

  
  
.service h3 {
  font-size: 16px;
  padding: 10px 0 35px;
  font-family: "open_sansextrabold"; 
}
  
.service p {
  font-size: 13px;
  padding-bottom: 65px;
  font-family: "open_sansregular";
}
  
.service_btn {
  font-size: 14px;
  font-family: "open_sansregular";
  text-decoration: none;
  color: #f8f8f8;
  background-color: #76c7c0;
  border-radius: 3px;  
}

.service:hover .service_btn {
  background-color: #e2534b;
}

.service a {
 position: absolute;
 bottom: -30px;
 left: 25px;
 right: 25px;
 padding: 20px 0 20px;
}

