.slider{

    display: flex;
    justify-content: center;
    padding: 25px;
    position: relative;
  }

.slider_1 {

    display: block;
    width: 60px;
    height: 5px;
    background-color:#b0b8b9;
  }

.slider_1.active {
    
   background-color: #e2534b;
   width: 60px;
   height: 5px;
   z-index: 1;
  }