.vestibulum {
    background-color: grey;
    color: #fff;
    padding-top: 160px;
    position: relative;
  }
  
.section-logo {
    display: flex;
    justify-content: center;
  
  }
  
.vest-logo {
    font-size: 50px;
    font-weight: 700;
    background-color: #e2534b;
    font-family: "OpenSans";
    border-radius: 10px;
    padding: 5px 10px;
  }
  
.section-text {
    display: flex;
    justify-content: center;
    padding-bottom: 200px;
    
  }

.vest-maece {
    font-size: 16px;
    font-family: "Myriad Pro";
    background-color: #3f4646;
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px 35px; 
  }
  
.section_arrows {
   justify-content: space-between;
   display: flex;
   position: absolute;
   top: 50%;
   width: 100%;

  }

.arrows-icons {
    display: block;
    background-color: #e2534b;
    border-radius: 3px;
    height: 30px;
    width: 30px;
  }

.arrows-icons svg {
    width :30px;
    height: 30px;
    fill: #fff;
  }


  

  