.modus-menu{
    background-color: #76c7c0;
  }
  
.section_nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.modus-logo {
  padding: 28px 0 ;
 }

  .modus-logo a {
    text-decoration: none;
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    font-family: "Myriad Pro";
    
  }
 

.logo2{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Myriad Pro"
  }
  
.nav {
    font-size: 13px;
    text-transform: uppercase;
    font-family: "OpenSans";

  }

.nav-link {
    margin: 0 5px;
    color: #fff;
    text-decoration: none;
    transition: 0.2s linear;
    padding: 5px 5px;
    border-radius: 7px;
  
  }

.nav-link:hover {
    background-color: #e8645a;
  }
  
.nav svg{
    width: 16px;
    height: 16px;
    fill: #fff;
  }

  
  